.hero-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* .title-section {
    Additional styling for the entire title section if needed
  } */
  
  .title {
    /* Specific styling for the title */
    color: #333; /* Example: Dark grey for contrast */
    font-size: 2.5em; /* Example: Larger font size */
  }
  
  .subtitle {
    /* Specific styling for the subtitle */
    color: #666; /* Example: Lighter grey for less emphasis */
    font-size: 1.5em; /* Example: Smaller than title */
    font-style: italic; /* Example: Italic for stylistic choice */
  }

  lite-youtube {
    display: block;
    margin: 0 auto;
    width: 100%;         /* Full width of parent */
    max-width: 855px;    /* Optional: Limit max width */
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");




  
